[Unit]
Description=Lunify Full Node
After=network.target

[Service]
User=lunify
Group=lunify
WorkingDirectory=~
StateDirectory=lunify
LogsDirectory=lunify

Type=simple
ExecStart=/usr/bin/lunifyd --config-file /etc/lunifyd.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
